.testing {
    -fx-text-fill: red;
}

.button {
    -fx-background-color: #A7A4A1;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #F19443;
}

.left_side {
    -fx-background-color: #595656;
}


